<nav>
<ul>
  <li><a href="//localhost:3000">HOME</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/session">test Sessions</a></li>
  <li><a href="/getFields">get fields</a></li>
</ul>
</nav>
