
<nav class="navbar navbar-default fixed-top">
  <div class="container">
    <ul class="nav navbar-nav ">
      <li><a href="//localhost:3000">HOME</a></li>
      <li><a href="/session">get Session</a></li>
      <li><a href="/getFields">get fields</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle ="dropdown" role="button">
          Funding Reports<span class="caret"></span></a>
        <ul class='dropdown-menu'>
          <li><a href="/getFundedFiles">Funded Files</a></li>
          <li><a href="/getLoansNotPurchased">Loans Not Purchsed</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right ">
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
