{
  "SessionConfig":{
    "expires":60000 ,
    "secret":"RandomLettersAndNumbers"
  },
  "EncompassAPI": {
    "api_client_id": "randomletters",
    "api_client_secret": "morerandomletters",
    "instanceId":"",
    "userID":"",
    "userPW":""
  }
}
